:root {
    --main-color: #0ae090;
    --second-color: #09a168;
}

body {
    background-color: black;
    color: white;
    display: flex;
    margin: 50px auto 0 auto;
    justify-content: center;
    font-size: x-large;
}

.clm {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-clm,
.right-clm {
    width: 200px;
    justify-content: center;
}

#canvas {
    border: 1px solid var(--main-color);
    background-color: black;
    margin-bottom: 20px;
}

.btn {
    width: 100px;
    height: 30px;
    background-color: var(--main-color);
    border: 1px solid black;
    cursor: pointer;
}

.btn:active {
    background-color: var(--second-color);
}

.gameover {
    display: none;
    color: #ff4e4e;
}